langchain
langchain-community
langchain-core
langchain-text-splitters
streamlit
sentence-transformers
ollama
pypdf # For PyPDFLoader
pymilvus # For Milvus vector store client
python-dotenv # For managing environment variables from a .env file
# watchdog # For Phase 2 real-time document updates